
/*======Column======*/

/*___height columns___*/

@each $i in $ten {

	.height-#{$i}{height: 10% * $i;}


}

.height
{
	height:100%;
}



/*___fluid columns___*/

@each $i in $ten {

	.fluid-#{$i}{width: 10% * $i;}


}

.fluid
{
	width:100%
}

.fluid-flex
{
 width:100%;
 display:flex;
}

/*___columns___*/


//.col{ display:flex; width:100%;}

@each $i in $col{
  .col-#{$i} {padding:0;}
}

@for $col from 1 through 12{
	.col-xs-#{$col}{ padding:0;}	
	
	.col-sm-#{$col}{ padding:0;}
	
	.col-md-#{$col}{ padding:0;}
	
	.col-lg-#{$col}{ padding:0;}
	

}