/*
  version: 0.0.3
  date:11/1/18

*/
/*****************
  NAVIGATION
*****************/
nav.w-nav a.w-nav-anchor
{
    font-size: 15px;
    font-weight: bold;

    height: 40px; 

    transition: all .3s;
    text-transform: uppercase;
}
nav.w-nav a.w-nav-anchor:hover
{
    padding-bottom: 10px !important;

    text-decoration: none; 

    border-bottom: 1px solid #69c !important;
}

/*****************
  COLOR
*****************/
.txt-blu
{
    color: #69c;
}

.txt-dg
{
    color: #333133;
}

.txt-grey
{
    color: #999;
}

.txt-lg
{
    color: #eee;
}

.txt-wht
{
    color: white;
}

.bg-blu
{
    background-color: #69c;
}

.bg-dg
{
    background-color: #333133;
}

.bg-grey
{
    background-color: #999;
}

.bg-lg
{
    background-color: #eee;
}

.bg-wht
{
    color: white;
}

/*****************
  CONTENT
*****************/
.ult_pricing_table_wrap.price-table h3
{
    font-size: 18px;

    padding: .5em 0;

    text-transform: uppercase; 

    color: white;
    background-color: #999;
}

.ult_pricing_table_wrap.price-table h5
{
    font-size: 17px; 

    padding: 0 15px;
}

.ult_pricing_table_wrap.price-table .btn-box
{
    padding: 2em;

    border-top: 1px solid #69c;
}

.ult_pricing_table_wrap.price-table .cta-btn
{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 

    padding: .5em 2em;

    text-transform: uppercase;

    color: white;
    background: #f99c20;
}
.ult_pricing_table_wrap.price-table .cta-btn:hover
{
    background: #e08b45;
}

.ult_pricing_table_wrap.price-table .ult_pricing_table .ult_pricing_heading
{
    padding-top: 0;

    border-bottom: 1px solid #14578c;
}

/*****************
  BREAKPOINT
*****************/
