/*
  version: 0.1.0
  date:8/29/18

*/
/*****************
  OTHER
*****************/
.apply-btn.signup-btn
{
    padding: 7px 39px;

    border-radius: 36px;
}

.email-link
{
    font-size: 1.3em;

    color: #162850;
}

.fourth-header .w-iconbox-title
{
    font-size: 1em;
    font-weight: bold; 

    letter-spacing: 0;
}

.getting-started
{
    background: #f9fafb;
}
.getting-started .fa
{
    color: #fb6e55;
}
.getting-started h3,
.getting-started h4
{
    font-size: 1.8em; 
    font-weight: 600;
}
.getting-started li
{
    font-size: 1.3em; 

    color: #7f8ba4;
}

.l-main .day-label
{
    font-size: 1.4em; 

    margin-bottom: 0;

    color: #253b74;
}

.phone-link
{
    font-size: 1.4em;

    color: #162850;
}

.partner-block .w-iconbox-title
{
    font-size: 20px;
    font-weight: bold;
}

.partner-block .w-iconbox-text,
.partner-block .l-main p,
.l-main .partner-block p
{
    font-size: 1.3em;
}

.partner-line
{
    margin: 0 15em !important;
}

.single-form-control
{
    width: 99%;
}

.small .w-iconbox-text,
.small .l-main p,
.l-main .small p
{
    font-size: 1.2em;
}

.solutions-heading-container
{
    margin-top: 0;
}

.w-iconbox-text,
.l-main p
{
    font-size: 1.3em;
    line-height: 30px;

    letter-spacing: 0;
}

.w-iconbox-title
{
    font-size: 20px;
    font-weight: bold;

    letter-spacing: 0;
}

.w-tabs-section-title
{
    font-size: 1.2em;
    font-weight: bold;

    word-spacing: -1px;

    color: #253b74;
}

.w-tabs-sections-h p
{
    font-size: 1.3em;

    margin-left: 2em;
}

/*****************
  POSITION
*****************/
.pos-absolute
{
    position: absolute;
}

.pos-relative
{
    position: relative;
}

.pos-fixed
{
    position: fixed;
}

/*****************
  BACKGROUND
*****************/
.bg-grey
{
    background-color: #f0f0f0;
}

.cf7mls_progress_bar
{
    position: relative;
    z-index: 1; 

    overflow: hidden;

    margin-bottom: 30px;

    counter-reset: step;
}

.cf7mls_progress_bar li
{
    font-size: 9px;

    position: relative;

    float: left;

    margin: 0 !important;
    padding: 0 !important; 

    list-style-type: none;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.cf7mls_progress_bar li:before
{
    font-size: 25px;
    line-height: 40px;

    display: block;

    width: 40px;
    margin: 0 auto 5px auto;

    content: counter(step);
    counter-increment: step;
    text-align: center; 

    color: #fff;
    border-radius: 3px;
    background: #377ef9;
}

.cf7mls_progress_bar li:after
{
    position: absolute;
    z-index: -1;
    top: 18px;
    left: -50%;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: .8s ease all; 
       -moz-transition: .8s ease all;
            transition: .8s ease all;

    background: #377ef9;
}

.cf7mls_progress_bar li:first-child:after
{
    /*connector not needed before the first step*/
    content: none;
}

.cf7mls_progress_bar li.active:before,
.cf7mls_progress_bar li.active:after
{
    color: #fff; 
    background: #377ef9;
}

.cf7mls_next.action-button,
.cf7mls_back.action-button,
.fieldset-cf7mls .wpcf7-form-control.wpcf7-cf7mls_preview_step
{
    font-size: 1.2em;
    font-weight: normal; 

    margin-top: 0;

    border-radius: .3em;
    background-color: #377ef9;
}

.triangle-type-1
{
    position: relative;
    left: 100px; 

    width: 45px;
    height: 112px;
}

.triangle-type-1 .line-1,
.triangle-type-1 .line-2
{
    display: block; 

    width: 50px;
    height: 1px;

    background: #fff;
}

.triangle-type-1 .line-1
{
    position: absolute;
    top: 5px; 

    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}

.triangle-type-1 .line-2
{
    position: absolute;
    top: 48px; 

    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.lead-form-wrapper
{
    padding: 32px;

    border-top: 1px solid #e4e5e6; 
    background-color: #f0f8fc;
}

.wpcf7 input[type='text'],
.wpcf7 input[type='email'],
.wpcf7 textarea,
.wpcf7 select
{
    width: 90%; 

    color: #000;
    background-color: #fff;
}

/*****************
  BORDER
*****************/
.border-top
{
    border-top: 1px solid #7f8ba4;
}

.border-bottom
{
    border-bottom: 1px solid #7f8ba4;
}

.border-left
{
    border-left: 1px solid #7f8ba4;
}

.border-right
{
    border-right: 1px solid #7f8ba4;
}

.border-v
{
    border-top: 1px solid #7f8ba4;
    border-bottom: 1px solid #7f8ba4;
}

.border-h
{
    border-right: 1px solid #7f8ba4; 
    border-left: 1px solid #7f8ba4;
}

.border-color-1
{
    border-color: #377ef9;
}

.border-color-2
{
    border-color: #2569e3;
}

.border-color-3
{
    border-color: #162850;
}

.border-color-4
{
    border-color: rgba(255, 255, 255, .05);
}

.border-color-5
{
    border-color: white;
}

.border-color-6
{
    border-color: transparent;
}

@media (max-width: 992px)
{
    .border-lg-top
    {
        border-top: 1px solid #7f8ba4;
    }
    .border-lg-bottom
    {
        border-bottom: 1px solid #7f8ba4;
    }
    .border-lg-left
    {
        border-left: 1px solid #7f8ba4;
    }
    .border-lg-right
    {
        border-right: 1px solid #7f8ba4;
    }
    .border-lg-v
    {
        border-top: 1px solid #7f8ba4;
        border-bottom: 1px solid #7f8ba4;
    }
    .border-lg-h
    {
        border-right: 1px solid #7f8ba4; 
        border-left: 1px solid #7f8ba4;
    }
    .border-lg-none
    {
        border-style: none;
    }
    .border-lg-none-top
    {
        border-top-style: none;
    }
    .border-lg-none-bottom
    {
        border-bottom-style: none;
    }
    .border-lg-none-left
    {
        border-left-style: none;
    }
    .border-lg-none-right
    {
        border-right-style: none;
    }
    .border-lg-none-v
    {
        border-top-style: none; 
        border-bottom-style: none;
    }
    .border-lg-none-h
    {
        border-right-style: none;
        border-left-style: none;
    }
}

@media (max-width: 767px)
{
    .border-md-top
    {
        border-top: 1px solid #7f8ba4;
    }
    .border-md-bottom
    {
        border-bottom: 1px solid #7f8ba4;
    }
    .border-md-left
    {
        border-left: 1px solid #7f8ba4;
    }
    .border-md-right
    {
        border-right: 1px solid #7f8ba4;
    }
    .border-md-v
    {
        border-top: 1px solid #7f8ba4;
        border-bottom: 1px solid #7f8ba4;
    }
    .border-md-h
    {
        border-right: 1px solid #7f8ba4; 
        border-left: 1px solid #7f8ba4;
    }
    .border-md-none
    {
        border-style: none;
    }
    .border-md-none-top
    {
        border-top-style: none;
    }
    .border-md-none-bottom
    {
        border-bottom-style: none;
    }
    .border-md-none-left
    {
        border-left-style: none;
    }
    .border-md-none-right
    {
        border-right-style: none;
    }
    .border-md-none-v
    {
        border-top-style: none; 
        border-bottom-style: none;
    }
    .border-md-none-h
    {
        border-right-style: none;
        border-left-style: none;
    }
}

@media (max-width: 567px)
{
    .border-sm-top
    {
        border-top: 1px solid #7f8ba4;
    }
    .border-sm-bottom
    {
        border-bottom: 1px solid #7f8ba4;
    }
    .border-sm-left
    {
        border-left: 1px solid #7f8ba4;
    }
    .border-sm-right
    {
        border-right: 1px solid #7f8ba4;
    }
    .border-sm-v
    {
        border-top: 1px solid #7f8ba4;
        border-bottom: 1px solid #7f8ba4;
    }
    .border-sm-h
    {
        border-right: 1px solid #7f8ba4; 
        border-left: 1px solid #7f8ba4;
    }
    .border-sm-none
    {
        border-style: none;
    }
    .border-sm-none-top
    {
        border-top-style: none;
    }
    .border-sm-none-bottom
    {
        border-bottom-style: none;
    }
    .border-sm-none-left
    {
        border-left-style: none;
    }
    .border-sm-none-right
    {
        border-right-style: none;
    }
    .border-sm-none-v
    {
        border-top-style: none; 
        border-bottom-style: none;
    }
    .border-sm-none-h
    {
        border-right-style: none;
        border-left-style: none;
    }
}

@media (max-width: 480px)
{
    .border-xs-top
    {
        border-top: 1px solid #7f8ba4;
    }
    .border-xs-bottom
    {
        border-bottom: 1px solid #7f8ba4;
    }
    .border-xs-left
    {
        border-left: 1px solid #7f8ba4;
    }
    .border-xs-right
    {
        border-right: 1px solid #7f8ba4;
    }
    .border-xs-v
    {
        border-top: 1px solid #7f8ba4;
        border-bottom: 1px solid #7f8ba4;
    }
    .border-xs-h
    {
        border-right: 1px solid #7f8ba4; 
        border-left: 1px solid #7f8ba4;
    }
    .border-xs-none
    {
        border-style: none;
    }
    .border-xs-none-top
    {
        border-top-style: none;
    }
    .border-xs-none-bottom
    {
        border-bottom-style: none;
    }
    .border-xs-none-left
    {
        border-left-style: none;
    }
    .border-xs-none-right
    {
        border-right-style: none;
    }
    .border-xs-none-v
    {
        border-top-style: none; 
        border-bottom-style: none;
    }
    .border-xs-none-h
    {
        border-right-style: none;
        border-left-style: none;
    }
}

/*****************
  FLEX
*****************/
.align-top
{
    align-items: flex-start;
}

.align-bottom
{
    align-items: flex-end;
}

.align-center
{
    align-items: center;
}

.center-all
{
    justify-content: center;
    align-items: center;
}

.flex
{
    display: flex;
}

.justify-between
{
    justify-content: space-between;
}

.justify-around
{
    justify-content: space-around;
}

.justify-center
{
    justify-content: center;
}

.justify-end
{
    justify-content: flex-end;
}

.justify-start
{
    justify-content: flex-start;
}

@media (max-width: 992px)
{
    .center-lg-h
    {
        display: flex;

        justify-content: center;
    }
    .center-lg-v
    {
        display: flex;

        align-items: center;
        align-self: center;
    }
    .flex-col-lg
    {
        flex-direction: column;
    }
    .flex-col-r-lg
    {
        flex-direction: column-reverse;
    }
    .flex-row-lg
    {
        flex-direction: row;
    }
    .flex-row-r-lg
    {
        flex-direction: row-reverse;
    }
}

@media (max-width: 767px)
{
    .center-md-h
    {
        display: flex;

        justify-content: center;
    }
    .center-md-v
    {
        display: flex;

        align-items: center;
        align-self: center;
    }
    .flex-col-md
    {
        flex-direction: column;
    }
    .flex-col-r-md
    {
        flex-direction: column-reverse;
    }
    .flex-row-md
    {
        flex-direction: row;
    }
    .flex-row-r-md
    {
        flex-direction: row-reverse;
    }
}

@media (max-width: 567px)
{
    .center-sm-h
    {
        display: flex;

        justify-content: center;
    }
    .center-sm-v
    {
        display: flex;

        align-items: center;
        align-self: center;
    }
    .flex-col-sm
    {
        flex-direction: column;
    }
    .flex-col-r-sm
    {
        flex-direction: column-reverse;
    }
    .flex-row-sm
    {
        flex-direction: row;
    }
    .flex-row-r-sm
    {
        flex-direction: row-reverse;
    }
}

@media (max-width: 480px)
{
    .center-xs-h
    {
        display: flex;

        justify-content: center;
    }
    .center-xs-v
    {
        display: flex;

        align-items: center;
        align-self: center;
    }
    .flex-col-xs
    {
        flex-direction: column;
    }
    .flex-col-r-xs
    {
        flex-direction: column-reverse;
    }
    .flex-row-xs
    {
        flex-direction: row;
    }
    .flex-row-r-xs
    {
        flex-direction: row-reverse;
    }
}

/*****************
  BUTTON
*****************/
.apply-btn
{
    font-size: 1.5em;

    display: inline-block; 

    padding: .75em 1.5em;

    text-transform: capitalize;

    color: white;
    border-radius: 30px;
    background: #377ef9;
}

a.apply-btn:hover
{
    color: white !important;
    background: #2569e3;
}

/*****************
  FORMS
*****************/
.alternate-form span.wpcf7-form-control-wrap
{
    font-size: 1.4em;

    width: 100%;
    margin: .3em;
}

.alternate-form .lead-form-wrapper
{
    padding: 0;

    background-color: transparent;
}

.alternate-form .wpcf7-form-control.wpcf7-submit
{
    font-size: 1.4em;

    display: block;

    margin: auto;
    margin-top: .3em; 
    padding: .3em 3em;

    border-radius: 27px;
}

.alternate-form .wpcf7 input[type='text'],
.alternate-form .wpcf7 input[type='email'],
.alternate-form .wpcf7 textarea,
.alternate-form .wpcf7 select
{
    width: 100%; 
    padding: 1.5em .5em;

    border: 1px solid #7f8ba4;
}

.form-2 .wpcf7-form
{
    padding: 1em;
    padding-top: 3em; 

    background: #162d5a;
}

.form-2 .wpcf7-form-control-wrap
{
    padding: .25em 0; 

    text-align: center;
}

.form-2 .wpcf7-form-control-wrap input,
.form-2 .wpcf7-form-control
{
    font-size: 1.2em;

    height: 40px;
}

.form-2 .wpcf7-form-control.wpcf7-textarea
{
    height: 8em;
    margin-bottom: 1em;
}

.form-2 .wpcf7-form-control.wpcf7-submit
{
    display: block;

    margin: auto;
    padding: 0 2em; 

    border-radius: 17px;
}

.home-form .single-form-control
{
    width: 98.5%;
}

.home-form span.wpcf7-form-control-wrap
{
    font-size: 1.4em;

    width: 100%;
    margin: .3em;
}
.home-form span.wpcf7-form-control-wrap input::placeholder
{
    opacity: 1;
}
.home-form span.wpcf7-form-control-wrap select
{
    height: 50px;
}

.home-form .wpcf7-form-control.wpcf7-submit
{
    font-size: 1.4em;

    display: block;

    margin: auto;
    margin-top: .3em; 
    padding: .3em 3em;

    border-radius: 27px;
}

.home-form .wpcf7 input[type='text'],
.home-form .wpcf7 input[type='email'],
.home-form .wpcf7-select,
.home-form .wpcf7 textarea,
.home-form .wpcf7 select
{
    /*border: 1px solid #7F8BA4;*/
    width: 100%;
    padding: 1.5em .5em;

    color: white; 
    background-color: rgba(255, 255, 255, .3);
}

.quote-form span.wpcf7-form-control-wrap
{
    font-size: 1.4em;

    width: 100%;
    margin: .3em;
}

.quote-form .lead-form-wrapper
{
    padding: 0;

    background-color: transparent;
}

.quote-form .wpcf7 input[type='text'],
.quote-form .wpcf7 input[type='email'],
.quote-form .wpcf7 textarea,
.quote-form .wpcf7 select
{
    width: 100%; 
    padding: 1em .5em;

    border: 1px solid #7f8ba4;
}

.quote-form .wpcf7-form-control.wpcf7-select
{
    max-width: 98.5%; 
    height: 36px;
}

.quote-form .wpcf7-form-control.wpcf7-submit
{
    font-size: 1.4em;

    display: block;

    margin: auto;
    margin-top: .3em; 
    padding: .3em 3em;

    border-radius: 27px;
}

/*****************
  HEADER
*****************/
.primary-header
{
    font-size: 3.5em;

    letter-spacing: -1px;
    text-transform: capitalize;
}
.primary-header .w-iconbox-title
{
    font-size: 3.5em;

    letter-spacing: -1px;
    text-transform: capitalize;
}
.primary-header h1,
.primary-header h2,
.primary-header h3,
.primary-header h4,
.primary-header h5,
.primary-header h6
{
    font-size: 3.5em;

    letter-spacing: -1px;
    text-transform: capitalize;
}

p.primary-header
{
    font-size: 3.5em;
}

.contact-header
{
    letter-spacing: 0;
    text-transform: capitalize;
}
.contact-header .w-iconbox-title
{
    letter-spacing: 0;
    text-transform: capitalize;
}

.invoice-header
{
    font-size: 4em;
    font-weight: bold; 

    margin-top: 0;

    color: #253b74;
}
.invoice-header .w-iconbox-title
{
    font-size: 4em;
    font-weight: bold; 

    margin-top: 0;

    color: #253b74;
}
.invoice-header h1,
.invoice-header h2,
.invoice-header h3,
.invoice-header h4,
.invoice-header h5,
.invoice-header h6
{
    font-size: 48px;
    font-weight: bold; 

    margin-top: 0;

    color: #253b74;
}

p.invoice-header
{
    font-size: 48px;
}

.secondary-header
{
    font-size: 3em;
    font-weight: bold;

    letter-spacing: 0;
    text-transform: capitalize;
}
.secondary-header h1,
.secondary-header h2,
.secondary-header h3,
.secondary-header h4,
.secondary-header h5,
.secondary-header h6
{
    font-size: 36px;
    font-weight: bold;

    letter-spacing: 0;
    text-transform: capitalize;
}

p.secondary-header
{
    font-size: 36px;
}

.solutions-heading
{
    font-size: 3em; 
    font-weight: bold;
}
.solutions-heading h1,
.solutions-heading h2,
.solutions-heading h3,
.solutions-heading h4,
.solutions-heading h5,
.solutions-heading h6
{
    font-size: 36px; 
    font-weight: bold;
}

p.solutions-heading
{
    font-size: 36px;
}

.start-header
{
    letter-spacing: 0;
}

.sub-header
{
    font-size: 1.5em;
    font-weight: bold;

    letter-spacing: 0;
}
.sub-header h1,
.sub-header h2,
.sub-header h3,
.sub-header h4,
.sub-header h5,
.sub-header h6
{
    font-size: 20px;
    font-weight: bold;

    letter-spacing: 0;
}

p.sub-header
{
    font-size: 20px;
}

.tertiary-header
{
    font-size: 2.5em;
    font-weight: bold; 

    letter-spacing: 0;

    color: #253b74;
}
.tertiary-header h1,
.tertiary-header h2,
.tertiary-header h3,
.tertiary-header h4,
.tertiary-header h5,
.tertiary-header h6
{
    font-size: 30px;
    font-weight: bold; 

    letter-spacing: 0;

    color: #253b74;
}

p.tertiary-header
{
    font-size: 30px;
}

.fourth-header
{
    font-size: 2em;
    font-weight: bold; 

    letter-spacing: 0;
}
.fourth-header h1,
.fourth-header h2,
.fourth-header h3,
.fourth-header h4,
.fourth-header h5,
.fourth-header h6
{
    font-size: 24px;
    font-weight: bold; 

    letter-spacing: 0;
}

p.fourth-header
{
    font-size: 24px;
}

/*****************
  FONT
*****************/
.case-capital
{
    text-transform: capitalize;
}

.case-lower
{
    text-transform: lowercase;
}

.case-upper
{
    text-transform: uppercase;
}

.color-white
{
    color: white !important;
}

.color-blue
{
    color: #253b74 !important;
}

.color-blue-2
{
    color: #377ef9 !important;
}

.color-blue-3
{
    color: #2569e3 !important;
}

.color-blue-4
{
    color: #7f8ba4 !important;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

.text-bold
{
    font-weight: bold;
}

.text-normal
{
    font-weight: normal;
}

.text-light
{
    font-weight: lighter;
}

@media (max-width: 992px)
{
    .text-lg-center
    {
        text-align: center;
    }
    .text-lg-left
    {
        text-align: left;
    }
    .text-lg-right
    {
        text-align: right;
    }
}

@media (max-width: 767px)
{
    .text-md-center
    {
        text-align: center;
    }
    .text-md-left
    {
        text-align: left;
    }
    .text-md-right
    {
        text-align: right;
    }
}

@media (max-width: 567px)
{
    .text-sm-center
    {
        text-align: center;
    }
    .text-sm-left
    {
        text-align: left;
    }
    .text-sm-right
    {
        text-align: right;
    }
}

@media (max-width: 480px)
{
    .text-xs-center
    {
        text-align: center;
    }
    .text-xs-left
    {
        text-align: left;
    }
    .text-xs-right
    {
        text-align: right;
    }
}

/*****************
  GENERAL
*****************/
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    transition: all .3s;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    letter-spacing: 0;
}

@media (max-width: 767px)
{
    h2
    {
        font-size: 30px !important;
    }
    h3
    {
        font-size: 22px !important;
    }
    h4
    {
        font-size: 26px !important;
    }
    p
    {
        font-size: 1.1em !important;
    }
}

@media (max-width: 568px)
{
    h1
    {
        font-size: 24px !important;

        text-align: center;
    }
    h2
    {
        font-size: 20px !important;
    }
    h3
    {
        font-size: 18px !important;
    }
    h4
    {
        font-size: 16px !important;
    }
    p
    {
        font-size: 1em !important;
    }
}

/*****************
  MAX
*****************/
.max-960
{
    max-width: 960px;
    margin: auto;
}

.max-400
{
    max-width: 400px;
    margin: auto;
}

.max-800
{
    max-width: 800px;
    margin: auto;
}

.max-1200
{
    max-width: 1200px;
    margin: auto;
}

/*****************
  NAVIGATION
*****************/
.nav-h
{
    margin: 0; 

    list-style: none;
}

/*****************
  PADDING
*****************/
.pad-v-0
{
    padding-top: 0;
    padding-bottom: 0;
}

.pad-h-0
{
    padding-right: 0; 
    padding-left: 0;
}

.pad-t-0
{
    padding-top: 0;
}

.pad-b-0
{
    padding-bottom: 0;
}

.pad-l-0
{
    padding-left: 0;
}

.pad-r-0
{
    padding-right: 0;
}

.pad-v-1
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.pad-h-1
{
    padding-right: 1em; 
    padding-left: 1em;
}

.pad-t-1
{
    padding-top: 1em;
}

.pad-b-1
{
    padding-bottom: 1em;
}

.pad-l-1
{
    padding-left: 1em;
}

.pad-r-1
{
    padding-right: 1em;
}

.pad-v-2
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.pad-h-2
{
    padding-right: 2em; 
    padding-left: 2em;
}

.pad-t-2
{
    padding-top: 2em;
}

.pad-b-2
{
    padding-bottom: 2em;
}

.pad-l-2
{
    padding-left: 2em;
}

.pad-r-2
{
    padding-right: 2em;
}

.pad-v-3
{
    padding-top: 3em;
    padding-bottom: 3em;
}

.pad-h-3
{
    padding-right: 3em; 
    padding-left: 3em;
}

.pad-t-3
{
    padding-top: 3em;
}

.pad-b-3
{
    padding-bottom: 3em;
}

.pad-l-3
{
    padding-left: 3em;
}

.pad-r-3
{
    padding-right: 3em;
}

.pad-v-4
{
    padding-top: 4em;
    padding-bottom: 4em;
}

.pad-h-4
{
    padding-right: 4em; 
    padding-left: 4em;
}

.pad-t-4
{
    padding-top: 4em;
}

.pad-b-4
{
    padding-bottom: 4em;
}

.pad-l-4
{
    padding-left: 4em;
}

.pad-r-4
{
    padding-right: 4em;
}

.pad-v-5
{
    padding-top: 5em;
    padding-bottom: 5em;
}

.pad-h-5
{
    padding-right: 5em; 
    padding-left: 5em;
}

.pad-t-5
{
    padding-top: 5em;
}

.pad-b-5
{
    padding-bottom: 5em;
}

.pad-l-5
{
    padding-left: 5em;
}

.pad-r-5
{
    padding-right: 5em;
}

.pad-v-6
{
    padding-top: 6em;
    padding-bottom: 6em;
}

.pad-h-6
{
    padding-right: 6em; 
    padding-left: 6em;
}

.pad-t-6
{
    padding-top: 6em;
}

.pad-b-6
{
    padding-bottom: 6em;
}

.pad-l-6
{
    padding-left: 6em;
}

.pad-r-6
{
    padding-right: 6em;
}

.pad-v-7
{
    padding-top: 7em;
    padding-bottom: 7em;
}

.pad-h-7
{
    padding-right: 7em; 
    padding-left: 7em;
}

.pad-t-7
{
    padding-top: 7em;
}

.pad-b-7
{
    padding-bottom: 7em;
}

.pad-l-7
{
    padding-left: 7em;
}

.pad-r-7
{
    padding-right: 7em;
}

.pad-v-8
{
    padding-top: 8em;
    padding-bottom: 8em;
}

.pad-h-8
{
    padding-right: 8em; 
    padding-left: 8em;
}

.pad-t-8
{
    padding-top: 8em;
}

.pad-b-8
{
    padding-bottom: 8em;
}

.pad-l-8
{
    padding-left: 8em;
}

.pad-r-8
{
    padding-right: 8em;
}

.pad-v-9
{
    padding-top: 9em;
    padding-bottom: 9em;
}

.pad-h-9
{
    padding-right: 9em; 
    padding-left: 9em;
}

.pad-t-9
{
    padding-top: 9em;
}

.pad-b-9
{
    padding-bottom: 9em;
}

.pad-l-9
{
    padding-left: 9em;
}

.pad-r-9
{
    padding-right: 9em;
}

.pad-v-10
{
    padding-top: 10em;
    padding-bottom: 10em;
}

.pad-h-10
{
    padding-right: 10em; 
    padding-left: 10em;
}

.pad-t-10
{
    padding-top: 10em;
}

.pad-b-10
{
    padding-bottom: 10em;
}

.pad-l-10
{
    padding-left: 10em;
}

.pad-r-10
{
    padding-right: 10em;
}

/*****************
  MARGIN
*****************/
.mar-auto
{
    margin: auto;
}

.mar-v-0
{
    margin-top: 0;
    margin-bottom: 0;
}

.mar-h-0
{
    margin-right: 0; 
    margin-left: 0;
}

.mar-t-0
{
    margin-top: 0;
}

.mar-b-0
{
    margin-bottom: 0;
}

.mar-l-0
{
    margin-left: 0;
}

.mar-r-0
{
    margin-right: 0;
}

.mar-v-1
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.mar-h-1
{
    margin-right: 1em; 
    margin-left: 1em;
}

.mar-t-1
{
    margin-top: 1em;
}

.mar-b-1
{
    margin-bottom: 1em;
}

.mar-l-1
{
    margin-left: 1em;
}

.mar-r-1
{
    margin-right: 1em;
}

.mar-v-2
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.mar-h-2
{
    margin-right: 2em; 
    margin-left: 2em;
}

.mar-t-2
{
    margin-top: 2em;
}

.mar-b-2
{
    margin-bottom: 2em;
}

.mar-l-2
{
    margin-left: 2em;
}

.mar-r-2
{
    margin-right: 2em;
}

.mar-v-3
{
    margin-top: 3em;
    margin-bottom: 3em;
}

.mar-h-3
{
    margin-right: 3em; 
    margin-left: 3em;
}

.mar-t-3
{
    margin-top: 3em;
}

.mar-b-3
{
    margin-bottom: 3em;
}

.mar-l-3
{
    margin-left: 3em;
}

.mar-r-3
{
    margin-right: 3em;
}

.mar-v-4
{
    margin-top: 4em;
    margin-bottom: 4em;
}

.mar-h-4
{
    margin-right: 4em; 
    margin-left: 4em;
}

.mar-t-4
{
    margin-top: 4em;
}

.mar-b-4
{
    margin-bottom: 4em;
}

.mar-l-4
{
    margin-left: 4em;
}

.mar-r-4
{
    margin-right: 4em;
}

.mar-v-5
{
    margin-top: 5em;
    margin-bottom: 5em;
}

.mar-h-5
{
    margin-right: 5em; 
    margin-left: 5em;
}

.mar-t-5
{
    margin-top: 5em;
}

.mar-b-5
{
    margin-bottom: 5em;
}

.mar-l-5
{
    margin-left: 5em;
}

.mar-r-5
{
    margin-right: 5em;
}

.mar-v-6
{
    margin-top: 6em;
    margin-bottom: 6em;
}

.mar-h-6
{
    margin-right: 6em; 
    margin-left: 6em;
}

.mar-t-6
{
    margin-top: 6em;
}

.mar-b-6
{
    margin-bottom: 6em;
}

.mar-l-6
{
    margin-left: 6em;
}

.mar-r-6
{
    margin-right: 6em;
}

.mar-v-7
{
    margin-top: 7em;
    margin-bottom: 7em;
}

.mar-h-7
{
    margin-right: 7em; 
    margin-left: 7em;
}

.mar-t-7
{
    margin-top: 7em;
}

.mar-b-7
{
    margin-bottom: 7em;
}

.mar-l-7
{
    margin-left: 7em;
}

.mar-r-7
{
    margin-right: 7em;
}

.mar-v-8
{
    margin-top: 8em;
    margin-bottom: 8em;
}

.mar-h-8
{
    margin-right: 8em; 
    margin-left: 8em;
}

.mar-t-8
{
    margin-top: 8em;
}

.mar-b-8
{
    margin-bottom: 8em;
}

.mar-l-8
{
    margin-left: 8em;
}

.mar-r-8
{
    margin-right: 8em;
}

.mar-v-9
{
    margin-top: 9em;
    margin-bottom: 9em;
}

.mar-h-9
{
    margin-right: 9em; 
    margin-left: 9em;
}

.mar-t-9
{
    margin-top: 9em;
}

.mar-b-9
{
    margin-bottom: 9em;
}

.mar-l-9
{
    margin-left: 9em;
}

.mar-r-9
{
    margin-right: 9em;
}

.mar-v-10
{
    margin-top: 10em;
    margin-bottom: 10em;
}

.mar-h-10
{
    margin-right: 10em; 
    margin-left: 10em;
}

.mar-t-10
{
    margin-top: 10em;
}

.mar-b-10
{
    margin-bottom: 10em;
}

.mar-l-10
{
    margin-left: 10em;
}

.mar-r-10
{
    margin-right: 10em;
}

/*****************
  DISPLAY
*****************/
.d-none
{
    display: none !important;
}

.d-block
{
    display: block;
}

@media (max-width: 992px)
{
    .d-lg-none
    {
        display: none !important;
    }
    .d-lg-block
    {
        display: block;
    }
}

@media (max-width: 767px)
{
    .d-md-none
    {
        display: none !important;
    }
    .d-md-block
    {
        display: block;
    }
}

@media (max-width: 567px)
{
    .d-sm-none
    {
        display: none !important;
    }
    .d-sm-block
    {
        display: block;
    }
}

@media (max-width: 480px)
{
    .d-xs-none
    {
        display: none !important;
    }
    .d-xs-block
    {
        display: block;
    }
}

@media (max-width: 767px)
{
    .img-container img
    {
        display: block;

        margin: auto;
    }
    .home-header-content-section
    {
        max-width: 100%;
        margin: auto;
    }
    .home-form .single-form-control
    {
        width: 100%;
    }
    .quote-form .wpcf7-form-control.wpcf7-select
    {
        max-width: 100%;
    }
}

@media (max-width: 568px)
{
    .home-form .wpcf7-form-control.wpcf7-submit
    {
        width: 95%;
    }
}
