
/*======Base======*/


/*___body___ */

:root,
body
{ 
	font-size:18px; 
	transition:font-size 400ms;
}

html, 
body
{ 
	height: 100vh;
}


/*___inherit___*/

.inherit
{

	height:inherit;
}


/*___headers___*/

.h1,h1
{ 
	font-size:2.6rem;
}

.h2,h2
{ 
	font-size:2.2rem; 
}

.h3,h3
{ 
	font-size:1.7rem; 
}

.h4,h4
{ 
	font-size:1.4rem; 
}

.h5,h5
{ 
	font-size:1rem; 
}

.h6,h6
{ 
	font-size:0.6rem; 
}






/*___height columns___*/

@each $i in $ten {

	.hite-#{$i}{height: 10% * $i;}


}

.hite
{
	height:100%;
}


/*___width columns___*/


@each $i in $ten {

	.with-#{$i}{width: 10% * $i;}


}

.with
{
	width:100%
}


/*___columns___*/


.col{ display:flex; width:100%;}

@for $col from 1 through 12{
	.col-xs-#{$col}{ padding:0;}	
	
	.col-sm-#{$col}{ padding:0;}
	
	.col-md-#{$col}{ padding:0;}
	
	.col-lg-#{$col}{ padding:0;}
	

}

/*___padding___*/

.no-pad{ padding:0; }

.pad{padding:1em;}

.pad-half.pad-4th{ padding:0.75em; }

.pad-half{padding:0.5em;}

.pad-3rd{ padding:0.66em; }

.pad-4th{padding:0.25em;}

.padH{ padding-top:0; padding-bottom:0;}

.padV{ padding-left:0; padding-right:0;}
