/*//////////////////////////////////

	Class

/////////////////////////////////*/

/*=============================

	.remove-bullets

==============================*/

ul.remove-bullets{
	padding:0;
	li{
		list-style:none;
	
	}

}


/*=============================

	.mobile-*

==============================*/

.mobile-text-center{
	text-align:initial;
	
	
}

.mobile-margin-center{
	margin:initial;
}


/*=============================

	.md-*

==============================*/


.md-text-center{
	text-align:initial;
	
	
}

.md-margin-center{
	margin:initial;
}


/*=============================

	.lg-*

==============================*/


.lg-text-center{
	text-align:initial;
	
	
}

.lg-margin-center{
	margin:initial;
}


/*=============================

	.flex-*

==============================*/

.flex-left{
    margin-right:auto;
}

.flex-right{
    margin-left:auto;
}

.flex-left-mobile{
    margin-right:auto;
}

.flex-right-mobile{
    margin-left:auto;
}


/*=============================

	.row

==============================*/
.row
{
	padding:1em 0;
	margin:0;
}

.row.column{
	flex-direction:column;
}

.row.column-center{
	flex-direction:column;
	text-align:center;
}

.row.column-center > *{
	
	margin:auto;
	text-align:center

}

/*=============================

	.center

==============================*/

.center
{
	margin:auto;
}

/*=============================

	.list-inline

==============================*/

.list-inline{
	 margin:0;
	 align-content:stretch;
	li{
	  padding:0;
	  
	  a{
		display:block;
	  
	  }
	}


}

.list-inline.spaced{
	display:flex;
	align-items:center;
	justify-content:space-around;

}

.list-inline.between{
	display:flex;
	align-items:center;
	justify-content:space-between;

}

.list-inline.evenly{
	display:flex;
	align-items:center;
	justify-content:space-evenly;

}

/*=============================

	.link-inline

==============================*/

.link-inline{
	display:flex;
	margin:0;
	padding:0;
	li{
		list-style:none;
	}
	
	a.active,
	a.focus, 
	a.hover{
	
		text-decoration:none;
	}
	
	&.around{
		justify-content:space-around;
	}
	
	&.between{
	 justify-content:space-between;
	}
	
	

}


/*=============================

	.navbar-nav

==============================*/

.navbar-nav{
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
}

.navbar-nav.column{
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}

.navbar-nav.around{
	align-items:center;
	justify-content:space-around;

}

.navbar-nav.between{
	align-items:center;
	justify-content:space-between;
}

.navbar-nav.evenly{
	align-items:center;
	justify-content:space-evenly;
}

/*=============================

	.container

==============================*/

.container
{ 
	padding:0; 
	max-width:1200px; 
	width:100%;
	
	
}

.container.wide
{
	max-width:1400px;
}

.container.wider
{
	max-width:1600px;
}

.container.widest{
		max-width:1800px;
	
	}
	
.container.slim{
	max-width:1000px;
}

.container.slimmer{
	max-width:800px;
}

.container.slimmest{
	max-width:600px;
}

.container-fluid
{
	padding:0;
}



/*=============================

	.text-*

==============================*/

.text-center{
 text-align:center;
}

.text-right{
 text-align:right;

}

.text-left{
 text-align:left;

}

/*=============================

	.nav-search

==============================*/
.form-input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:0 1em;
}

form input
{
  @extend .form-input;
}

form select
{
  @extend .form-input;
}

#nav-search{
  input[type="search"]{
    @extend .form-input;
    min-height: 34px;
  }

  button,
  .btn,
  input[type="submit"]
  {
    border-radius: 2px 5px 5px 2px;
  }
}

.search{
  button,
  .btn,
  input[type="submit"]{
    position:relative;
    top:-1px;
    right:15px;
  }
}

.input-block
{
  display:block;
}

@include catch-float(".input-block");

.input-subject
{
  text-align:right;
}


.required:before
{
    content: "* ";
    color:red;
}



/*=============================

	.error-messages
	
==============================*/

.error-messages
{
  color:red;
  li{
    list-style:none;
  }
}



/*=============================

	.submenu
	
==============================*/

.submenu
{
  position:relative;
}

/*.submenu:hover > ul
{
  display:block;
 

}

*/

.submenu > ul
{
  display:none;
  position:absolute;
  z-index:5;
  left:0;
  padding:0;
  //transition:all 0.3s;
}

.submenu > ul  li
{

  background:$secondary;
  list-style:none;
  text-align:center;
}

.submenu > ul  li a
{
  display:block;
  padding:0.5em;
}

/*=============================

	.fluid-max-*
	
==============================*/


@each $i in $col{

	.fluid-max-wide-#{$i}{
		width:100%;
		max-width: $i*117px;
	
	}

}


@each $i in $col{

	.fluid-max-#{$i}{
		width:100%;
		max-width: $i*100px;
	
	}

}

@each $i in $col{

	.fluid-max-slim-#{$i}{
		width:100%;
		max-width: $i*84px;
	
	}

}

/*=============================

	padding

==============================*/



.pad{padding:1em;}

.pad-3-4th{ padding:0.75em; }

.pad-half{padding:0.5em;}

.pad-3rd{ padding:0.33em; }

.pad-4th{padding:0.25em;}

.pad-all{
	 > div, > section{
		
		padding:1em;
	}
	
	
}


@each $i in $pad{

	.pad-#{$i}-all{
	
		> div, > section{
			
			padding: map-get($p,$i);
		
		}
	
	}
}

.padH{ padding-top:0; padding-bottom:0;}

.padV{ padding-left:0; padding-right:0;}

.no-pad{ padding:0; }


/*=============================

	margin

==============================*/



.mar{margin:1em;}

.mar-3-4th{margin: 0.75em;}

.mar-half{margin:0.5em;}

.mar-3rd{margin:0.33em;}

.mar-4th{margin:0.25em;}

.pad-all{
	 > div, > section{
		
		padding:1em;
	}
	
	
}


.mar-all{
	 > div, > section{
		
		margin:1em;
	}
	
	
}
	
@each $i in $pad{

	.mar-#{$i}-all{
	
		> div, > section{
			
			margin: map-get($p,$i);
		
		}
	
	}
}


.marH{margin-top:0; margin-bottom:0;}

.marV{margin-left:0; margin-right:0;}

.no-mar{ margin:0;}