/*
  version: 0.0.1
  date:11/16/18

*/


//  VARIABLE


/****************
  GENERAL
****************/

.img-cover{

  .vc_column-inner{
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
  }

}
