/*
  version: 0.0.2
  date:11/19/18

*/


//  VARIABLE


/****************
  GENERAL
****************/

.img-cover{

  .vc_column-inner{
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
  }

}

/****************
  NAVIGATION
****************/


.ush_menu_1.type_desktop{
  .w-nav-list{
    &>.menu-item.level_1{

      font-size:16px;

    }
  }

}

/****************
  FORM
****************/

.contact-us-form{
  .wpcf7-list-item-label{
    color:white;
  }

  .wpcf7-submit{
    margin-top:15px;
  }
}

/****************
  HOME
****************/

.home-section-{

  &1{
    padding-top:100px !important;
    padding-bottom:100px !important;
    // padding-left:100px !important;
    // padding-right:100px !important;
    margin-top:50px;
  }

  &5{
    color:white;

    .w-iconbox-{

      &title{
        color:white;
      }
    }
  }
}


/****************
  BREAKPOINT
****************/

@media (max-width:992px){

}
