/*

Version: 0.0.2
Date: 12/26/18

*/
/*****************
  GENERAL
*****************/
/*****************
  HEADER
*****************/
#header-section .logo img
{
    max-width: 140px;
}

#header-section-4 .logo img
{
    max-width: 140px;
}

div.sticky_nav.sticky-on
{
    background: rgba(255, 255, 255, .5);
}

/*****************
  HOME
*****************/
/*****************
  CONTENT
*****************/
/*****************
  FOOTER
*****************/
footer#footer-section
{
    margin-bottom: -2em; 
    padding: 2em 0;

    color: white;
    background: #545454;
}
footer#footer-section a
{
    color: white;
}
