/*

Version: 0.0.1
Date: 12/17/18

*/
/*****************
  GENERAL
*****************/
/*****************
  HEADER
*****************/
.header-section .logo img
{
    max-width: 140px;
}

.header-section-4 .logo img
{
    max-width: 140px;
}

/*****************
  HOME
*****************/
/*****************
  CONTENT
*****************/
/*****************
  FOOTER
*****************/
