/*

Version: 0.0.3
Date: 12/11/18

*/

@import "../variable";

$d-green :#006837;
$green:#26A63B;
$l-green:#92C952;

$l-grey:#E6E6E6;

@mixin pad-h($sz:1em){

  padding-left:$sz;
  padding-right:$sz;
}

@mixin pad-v($sz:1em){

  padding-top:$sz;
  padding-bottom:$sz;
}


/*****************
  GENERAL
*****************/


/*****************
  NAVIGATION
*****************/

.w-{

  &nav-title{
    text-transform:uppercase;
  }
}

/*****************
  CONTENT
*****************/

.home-{

  &category{

    div.vc_column-inner{
      transition:background-color 0.3s;
      background-color:$green;
      border-radius:20px;
      @include pad-v(1.5em);

      &:hover{
        background-color:$l-green;
      }
    }
  }
  &featured-labels{
    position:relative;
    z-index:3;

    .right-section{

      .vc_column-inner{
        border-radius:0 15px 15px 0;
      }

    }

    .left-section{
      .vc_column-inner{
        border-radius:15px 0 0 15px;
      }

    }
  }

  &wrapper{
    // background:$l-grey;

    // &> .i-cf{
    //   background-color:white;
    // }
  }

  &image{
    // .w-image,
    // .w-slider-h{
    //   border-bottom:10px solid $d-green;
    // }
  }

}



/*****************
  FOOTER
*****************/



@import "../display";


@import "../flex";

/*****************
  BREAKPOINT
*****************/
