/*
  version: 0.0.2
  date:10/31/18

*/

$blue: #6699cc;
$d-grey:#333133;
$grey: #999999;
$l-grey:#eeeeee;

/*****************
  NAVIGATION
*****************/
nav.w-nav{

  a.w-nav-anchor{
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    // border-bottom: 1px solid transparent;
    transition: all 0.3s;
    height:40px;
    &:hover{
      padding-bottom:10px !important;
      border-bottom:1px solid $blue !important;
    }
  }

}

/*****************
  COLOR
*****************/

.txt-{

  &blu{
    color:$blue;
  }
  &dg{
    color:$d-grey;
  }

  &grey{
    color:$grey;
  }
  &lg{
    color:$l-grey;
  }

  &wht{
    color:white;
  }
}


.bg-{

  &blu{
    background-color:$blue;
  }
  &dg{
    background-color:$d-grey;
  }

  &grey{
    background-color:$grey;
  }
  &lg{
    background-color:$l-grey;
  }
  &wht{
    color:white;
  }
}


/*****************
  CONTENT
*****************/




/*****************
  BREAKPOINT
*****************/
