/*
  version: 0.0.7
  date:11/12/18

*/

@import "../variable";

$blue: #6699cc;
$d-blue:#14578C ;
$d-grey:#333133;
$grey: #999999;
$l-grey:#eeeeee;
$orange:#F99C20 ;
$d-orange:#E08B45;


/*****************
  NAVIGATION
*****************/
nav.w-nav{

  a.w-nav-anchor{
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    // border-bottom: 1px solid transparent;
    transition: all 0.3s;
    height:40px;
    &:hover{
      padding-bottom:10px !important;
      border-bottom:1px solid $blue !important;
      text-decoration:none;
    }
  }

}

/*****************
  COLOR
*****************/


.color-{
  &blue{
    color:$blue;
  }

  &d-grey{
  color:$d-grey;
  }

  &grey{
    color:$grey;
  }
  &l-grey{
    color:$l-grey;
  }
  &white{
    color:white;
  }
}

.txt-{

  &blu{
    color:$blue;
  }
  &dg{
    color:$d-grey;
  }

  &grey{
    color:$grey;
  }
  &lg{
    color:$l-grey;
  }

  &wht{
    color:white;
  }
}


.bg-{

  &blue{
    background-color:$blue;
  }
  &d-grey{
    background-color:$d-grey;
  }

  &grey{
    background-color:$grey;
  }
  &l-grey{
    background-color:$l-grey;
  }
  &white{
    background-color:white;
  }
}


/*****************
  CONTENT
*****************/


.fund-column{
  padding:1em 0;
  max-width:300px;
  margin:0 8px;
  border:1px solid $l-grey;

}

.home-fourth-column{
  padding:1em;
  margin:15px 0;
  border: 1px solid $l-grey;
  min-height:140px;
}

.program-column{

  border:1px solid $l-grey;

  h4{
    color:$blue;

  }

.cta-btn{
  display:block;
  margin:auto;
  background:$blue;
  color:white;
  text-transform:uppercase;
  padding:0.5em 1em;
  border-radius:3px;
  text-align:center;
  width:160px;
  &:hover{
    text-decoration:none;
    color:white;
    background:$d-blue;
  }
}

  .fa{
    color:green;
  }

  li{
    font-size:13px;
  }


  ul,p{
    text-align:left;
  }

  .text-section{
    padding:1em;
    text-align:center;
  }


}


.ult_pricing_table_wrap.price-table{
  transition:all 0.3s;
  &:hover{
   h3{
      background:$d-blue;
    }
    background-color:white;
    transform:translateY(-30px);
  }

  h3{
    background-color:#686868;
    border-bottom:3px solid $d-grey;
    font-size:18px;
    color:white;
    padding:1em 0;
    text-transform:uppercase;
    transition:all 0.3s;
  }
  h5{
    padding:0 15px;
    font-size:17px;
  }

  .btn-box{
    padding:2em;
    border-top:1px solid $blue;
  }

  .cta-btn{
    font-family: 'Helvetica Neue', sans-serif;
    background: $d-orange;
    color: white;
    text-transform: uppercase;
    padding: 0.75em 2em;
    font-weight: bold;
    font-size:14px;

    &:hover{
      background:$orange;
    }
  }

  .ult_pricing_table {
    border-top:none;
    .ult_pricing_heading{
      padding-top:0;
      border-bottom: 1px solid $grey;
    }
  }

.ult_price_features{

  padding-bottom:0;
}




}

/*****************
  FORM
*****************/

.contact-form{


  input{

    &[type="text"],
    &[type="email"]{
      height:80px;
      margin:0;
      padding:2em;
      margin-bottom:2px;
    }

    &[type="submit"]{
      display:block;
      max-width:196px;
      margin:auto;
      text-transform:capitalize;
      margin-top:25px;
    }

  }

  textarea{
    height:245px;
    margin:0;
    margin-left:2px;
    border-radius:0;
    padding:2em;
  }
}

/*****************
  TABLE
*****************/

  .quick-app-form{


    .wpcf7{
      background-color:transparentize($grey, 0.5);
      padding:0.5em 1em;
      margin:2em auto;
      width:960px;
    }

    .wpcf7-form {

      input[type="text"],input[type="password"],input[type="email"], input[type="tel"],
      input[type="url"],input[type="number"],input[type="date"], textarea, select{
        margin-top:0.5em;
        margin-bottom:0.5em;
        min-height:48px;
      }

    }



    .wpcf7-{

      &select{
        height:48px;
      }

      &submit{
        margin-top:0.5em;
        display:block;
        margin:auto;
        width:100%;
      }
    }


  }


/*****************
  MAX
*****************/
@import "../max.scss";


/*****************
  BREAKPOINT
*****************/
