/*****************
  BORDER
*****************/
.border-{
  &top{
    border-top:1px solid $blue5;
  }

  &bottom{
    border-bottom:1px solid $blue5;
  }


  &left{
    border-left:1px solid $blue5;
  }


  &right{
    border-right:1px solid $blue5;
  }

  &v{

    border-top:1px solid $blue5;
    border-bottom:1px solid $blue5;
  }

  &h{
    border-left:1px solid $blue5;
    border-right:1px solid $blue5;
  }

  &color-{

    &1{
      border-color:$blue3;
    }
    &2{
      border-color:$blue4;
    }
    &3{
      border-color:$blue;
    }
    &4{
      border-color:rgba(255, 255, 255, 0.05);
    }
  }
}


@for $x from 1 through length($size-num){

    $name : nth($size-name,$x);
    $size : nth($size-num,$x);

      @media (max-width:$size){

        .border-#{$name}-{
          &top{
            border-top:1px solid $blue5;
          }

          &bottom{
            border-bottom:1px solid $blue5;
          }


          &left{
            border-left:1px solid $blue5;
          }


          &right{
            border-right:1px solid $blue5;
          }

          &v{

            border-top:1px solid $blue5;
            border-bottom:1px solid $blue5;
          }

          &h{
            border-left:1px solid $blue5;
            border-right:1px solid $blue5;

          }

          &none{
            border-style:none;


          }

          &none-{

            &top{
              border-top-style:none;
            }
            &bottom{
              border-bottom-style:none;
            }
            &left{
              border-left-style:none;
            }
            &right{
              border-right-style:none;
            }
            &v{
              border-bottom-style:none;
              border-top-style:none;
            }
            &h{
              border-right-style:none;
              border-left-style:none;
            }
          }


        }

      }


    }
