
@media (max-width:992px){

  .apply-btn{
    font-size:14px;
  }
  .checklist{
    li{
      font-size:14px;
      padding-bottom:13px;
    }

  }

  .footer-list{

    li{
      padding:5px 0;
    }

    a{
      font-size:12px;
    }
  }

  .fourth-header{
    font-size:17px;

    h1,h2,h3,h4,h5,h6{
      font-size:17px;
    }

  }

  p.fourth-header{
    font-size:17px;

  }

  .getting-started{
    background:$grey3;
    h3,h4{
      font-size:14px;
    }

  }

  .invoice-header{
    font-size: 32px;

    .w-iconbox-title{
      font-size: 32px;

    }

    h1,h2,h3,h4,h5,h6{
      font-size: 32px;
    }

  }

#header-img{
   h2{
     font-size:45px;
   }
}
  .healthcare-business-financing{


    &#section-{

      &2{

          .w-iconbox-icon{
            font-size:20px !important;
          }
      }

    }
  }


  .medical-practice-financing{

    .feature-{

      // &block{
      //
      //  margin:1em auto !important;
      //
      //  .uvc-heading h3{
      //    font-size:28px !important;
      //  }
      // }

      &list{
        padding:3em 0;

        li{
          font-size:1.2em;
        }
      }

    }

    &#header-section{

      // .l-section-h{
      //   // max-width:100%;
      //   // margin:0;
      //   // padding-bottom:0;
      // }

      // .secondary-section{
      //   // margin-bottom:-95px;
      // }

      .text-section{
        // text-align:center;
        // padding-top:1em;

        h3,.fourth-header{
          // color:white;
          // margin-bottom:0;
          font-size:21px;
        }
        // h4,.tertiary-header{
        //   font-weight:300;
        //
        // }
      }

      #title{
        font-weight:normal;
      }
    }

    &#section-{

      // &6{
      //   .block{
      //     max-width:345px;
      //     min-height:195px;
      //     margin:auto;
      //     margin-bottom:1em;
      //   }
      // }

      &10{
         .nav-h{
           margin-top:0;
           a{
              font-size:1.1em;
           }
         }
      }
    }
  }

  .medical-practice-funding{

    &#section-{

      &3{
         height:300px;
      }

    }
  }


  .secondary-header{
    font-size:26px;
    h1,h2,h3,h4,h5,h6{
      font-size:26px;
    }
  }

  p.secondary-header{

    font-size:26px;
  }

  .solutions-heading{
    font-size:26px;
    h1,h2,h3,h4,h5,h6{
      font-size:26px;
    }
  }

  .third-block{

    p{
      margin-bottom:0;
      font-size:14px;
    }

    h4{
      padding-top:0;
      font-size:24px;
    }


  }

  .w-iconbox-title{
    font-weight:bold;
    font-size:17px;
    letter-spacing: 0;
  }




}//992px






@media (max-width:767px){



  #header-img{

    .contact-number{
      text-align:center;
    }

    .uvc-heading{
      text-align:center;
    }
     h2{
       font-size:35px !important;
     }

     ul.uavc-list{
       text-align:center;

       .uavc-list-icon{
         display:none;
       }
     }

     .uvc-sub-heading{
       margin:1em 0;
     }

     .w-btn-wrapper{
       display:block;
       text-align:center;
     }
  }

  .healthcare-business-financing{


    &#section-{

      &2{

        .icon-block{
          .wpb_wrapper{
            margin:auto;
          }

        }
      }

    }
  }
  .healthcare-business-funding{

      &#section-{

        &1{

          .bottom-section{
            padding:1em;

          }
          .col-md-6{
            margin-bottom:1em;
          }

          .top-section{
            padding:2em 1em;
          }
          .wpcf7-select{
            width:100%;
          }

          .wpcf7-submit{
            max-width:100%;
          }
        }

      }
    }

  .home-header-content-section{
    max-width:100%;
    margin:auto;
  }

  .home-form {

    .single-form-control{
      width:100%;
    }
  }
  .img-container{
    img{
       display:block;
       margin:auto;
    }
  }

  .quote-form{

    .wpcf7-form-control{
      &.wpcf7-select{
        max-width:100%;
      }
    }
  }

  .social-list{

    li{
      padding-bottom:15px;
    }

    .social-icon{
      font-size:32px !important;
    }
  }

  .medical-practice-financing{

    .feature-{

      &block{

       margin:1em auto !important;

       .uvc-heading h3{
         font-size:28px !important;
       }
      }

      &list{
        padding:1em 1em;

        li{
          font-size:1em;
        }
      }

    }

    &#section-{

      // &6{
      //   .block{
      //     max-width:345px;
      //     min-height:195px;
      //     margin:auto;
      //     margin-bottom:1em;
      //   }
      // }

      &10{
         .nav-h{

           a{
              font-size:1em;
           }
         }
      }
    }
  }
  .medical-practice-funding{

    &#section-{

      &1{

        h2{
          font-size:25px !important;
        }

        .summary{
          font-size:17px !important;
        }
      }

      &3{
         height:300px;
      }

      &4{



        .w-iconbox-title{
          margin-bottom:5px;
          font-size:32px !important;
        }
      }

      &5{
        h2{
          font-size:24px !important;
          width:100%;
        }

        .uvc-sub-heading{
          font-size:17px !important;
        }

      }

    }
  }

}//767px


@media (max-width:568px){



  .home-form .wpcf7-form-control.wpcf7-submit{
    width:95%;
  }

  #header-img{

    .contact-number{
      h4{
        font-size:14px !important;
      }
    }

     h2{
       font-size:32px !important;
     }
  }

  .healthcare-business-financing{


    .uvc-heading.title{

      h2{
        font-size:34px !important;
        text-align:center;
      }

    }

    .uvc-sub-heading{
      p{
        text-align:center;
        font-size:14px !important;
      }
    }
  }

  .healthcare-business-funding{

      &#section-{

        &1{

          h2{
            font-size:28px !important;
          }

          h5{
            font-size:20px;
          }
        }

        &3{
          h2{
            margin-top:2em;
            text-align:center;
          }
        }

      }
    }

  .medical-practice-financing{

    // .feature-{
    //
    //   &block{
    //
    //    margin:1em auto !important;
    //
    //    .uvc-heading h3{
    //      font-size:28px !important;
    //    }
    //   }
    //
    //   &list{
    //     padding:1em 1em;
    //
    //     li{
    //       font-size:1em;
    //     }
    //   }
    //
    // }

    &#header-section{

      .center-img{
        img{
          max-width:220px;
        }
      }

      #title{
        font-size: 22px !important;
        margin-bottom:0.5em;
      }
    }

    &#section-{

      &6{
        .block{
          max-width:345px;
          min-height:195px;
          margin:auto;
          margin-bottom:1em;
        }
      }

      &10{
         .nav-h{

           a{
              font-size:1em;
           }
         }
      }
    }
  }


}//568px
