/*****************
  FLEX
*****************/

.align-{

  &top{
    align-items:flex-start;
  }

  &bottom{
    align-items:flex-end;
  }
  &center{
    align-items:center;
  }
}

.center-all{
  justify-content: center;
  align-items: center;
}

.flex{
    display:flex;
}



.justify-{
  &between{
    justify-content:space-between;
  }
  &around{
    justify-content:space-around;
  }
  &center{
    justify-content: center;
  }
  &end{
    justify-content: flex-end;
  }
  &start{
    justify-content: flex-start;
  }
}


@for $x from 1 through length($size-num){

    $name : nth($size-name,$x);
    $size : nth($size-num,$x);

    @media (max-width:$size){

      .center-#{$name}-h{
        display:flex;
        justify-content: center;
      }

      .center-#{$name}-v{
        display:flex;
        align-items: center;
        align-self:center;
      }

      .flex-col-#{$name}{
        flex-direction: column;
      }

      .flex-col-r-#{$name}{
        flex-direction: column-reverse;
      }

      .flex-row-#{$name}{
        flex-direction: row;
      }

      .flex-row-r-#{$name}{
        flex-direction:row-reverse;
      }

    }
}
