/*****************
  HEADER
*****************/

.primary-header{
  font-size: 3.5em;
    // font-weight: 600;
    letter-spacing: -1px;
    text-transform:capitalize;
}

.contact-header{
  letter-spacing:0;
  text-transform:capitalize;
}


.secondary-header{
  letter-spacing:0;
  font-weight:bold;
  font-size:2em;
  text-transform:capitalize;
}

.start-header{
  letter-spacing: 0;
}

.sub-header{
  font-weight:bold;
  font-size:1.5em;
}
