/*****************
  LANDING PAGE
*****************/

.medical-practice-financing{

  .block{
    margin-bottom:1em;

  }

    .event-listing{
      margin:2em 0;
      padding:1em 0;
  }


  .feature-{

      &block{
        max-width:355px;
       margin:auto;

       .uvc-heading h3{
         margin:0.5em 0;
       }
      }

      &list{
        padding:3em 1em;

        li{
          font-size:1.3em;
        }
      }

  }

  #feature-section{
     .vc_column-inner{
      padding:0;}
  }

  .middle-header-img{
      position:absolute;
      top:-25px;
  }

  &#header-section{

    padding:0;
    .l-section-h{
      max-width:100%;
      margin:0;
      padding-bottom:0;
    }

    .secondary-section{
      margin-bottom:-95px;
    }

    .text-section{
      text-align:center;
      padding-top:1em;
      h3,.fourth-header{
        color:white;
        margin-bottom:0;
      }
      h4,.tertiary-header{
        font-weight:300;

      }
    }

    #title{
      margin-bottom:1em;
    }
  }


  #overlay-block{
    position:absolute;
    bottom:0;
    background-color:rgba(37, 59, 116, 0.7);
    width:100%;
  }

  &#overlay-{

    &section{
        margin-top:-286px;
    }

  }


  &#section-{

    &6{
      .block{
        max-width:345px;
        min-height:228px;
        // margin:auto;

      }
    }

    &10{
       .nav-h{
         font-size:1.3em;
         a{
            margin-top:2em;
            color:$blue6;
            &:hover{
              color:$blue3;
            }
         }
       }
    }
  }




}

.healthcare-business-financing{


  &#section-{

    &2{
      margin:2em 0;

        .icon-block{
          .wpb_wrapper{
            border:2px dashed $grey;
            padding:1em;
            min-height:188px;
            min-width:210px;
          }

        }

    }

    &3{
      padding:1em 0;
      font-size:32px;

      .w-btn{
        font-weight:bold;
      }
    }

  }

  .w-iconbox-title{
    font-weight:normal;
  }

}
