/*
  version: 0.0.3
  date:8/20/18

*/

$blue:#162850;
$blue2:#687792;
$blue3:#377ef9;
$blue4:#2569e3;
$blue5:#7F8BA4;
$blue6:#253b74;

$header-col:$blue6;
$bg-col:$blue;
$text-col: $blue2;
$link-col:$blue3;
$hover-col:$blue4;

$d:("t","b", "l","r");
$direction:( "top","bottom","left","right");
$size-name:(lg,md,sm,xs);
$size-num:(992px,767px,567px,480px);

@import "old";
@import "border";
@import "button";
@import "font";
@import "flex";
@import "header";
@import "general";
@import "max";
@import "nav";
@import "padding";
@import "margin"; 

/*****************
  OTHER
*****************/

.getting-started{
  background:#F9FAFB;

  .fa{
    color:#FB6E55;
  }

  h3,h4{
    font-weight:600;
    font-size:1.8em;
  }

  li{
    color:$blue5;
    font-size:1.3em;
  }


}

.phone-link{
  font-size:1.4em;
  color:$blue;
}

.email-link{
  font-size:1.3em;
  color:$blue;
}
