/*
  version: 0.0.7
  date:8/24/18

*/

$blue:#162850;
$blue2:#687792;
$blue3:#377ef9;
$blue4:#2569e3;
$blue5:#7F8BA4;
$blue6:#253b74;

$header-col:$blue6;
$bg-col:$blue;
$text-col: $blue2;
$link-col:$blue3;
$hover-col:$blue4;

$d:("t","b", "l","r");
$direction:( "top","bottom","left","right");
$size-name:(lg,md,sm,xs);
$size-num:(992px,767px,567px,480px);

/*****************
  OTHER
*****************/

.alternate-form span.wpcf7-form-control-wrap{
    font-size:1.4em;
    width:100%;
    margin:0.3em;
}

.alternate-form .wpcf7 input[type='text'],
.alternate-form .wpcf7 input[type='email'],
.alternate-form .wpcf7 textarea,
.alternate-form .wpcf7 select {
    padding:1.5em 0.5em;
    border: 1px solid #7F8BA4;
    width:100%;
}

.alternate-form .wpcf7-form-control.wpcf7-submit{
    margin: auto;
    display: block;
    font-size: 1.4em;
    border-radius: 27px;
    padding: 0.3em 3em;
    margin-top: 0.3em;

}

.apply-btn.signup-btn{
    padding:7px 39px;
    border-radius:36px;
}


.email-link{
  font-size:1.3em;
  color:$blue;
}

.form-2 .wpcf7-form{
    background:#162D5A;
    padding:1em;
    padding-top:3em;
}

.form-2 .wpcf7-form-control-wrap {
    text-align:center;
    padding:0.25em 0;
}

.form-2 .wpcf7-form-control-wrap input,
.form-2 .wpcf7-form-control
{
    font-size:1.2em;
    height:40px;
}

.form-2 .wpcf7-form-control.wpcf7-textarea{
    height:8em;
    margin-bottom:1em;
}

.form-2 .wpcf7-form-control.wpcf7-submit{
    display:block;
    margin:auto;
    border-radius:17px;
    padding:0 2em;
}



.fourth-header .w-iconbox-title{
  font-size:1em;
  letter-spacing:0;
  font-weight:bold;
}

.getting-started{
  background:#F9FAFB;

  .fa{
    color:#FB6E55;
  }

  h3,h4{
    font-weight:600;
    font-size:1.8em;
  }

  li{
    color:$blue5;
    font-size:1.3em;
  }


}


.l-main p{
  font-size:1.3em;
  line-height:30px;
}


.l-main .day-label{
  margin-bottom:0;
  color:#253b74;
  font-size:1.4em;
}


.phone-link{
  font-size:1.4em;
  color:$blue;
}


.partner-block .w-iconbox-title{
    font-size:20px;
    font-weight:bold;
}

.partner-block .w-iconbox-text{
    font-size:1.3em;
}


.partner-line{
    margin:0 15em !important;

}

.single-form-control{
  width:99%;
}


.solutions-heading-container{
  margin-top:15em;
}

.w-tabs-section-title{
    font-size:1.2em;
    font-weight:bold;
    word-spacing:-1px;
    color:#253b74;
}

.w-tabs-sections-h p{
    font-size:1.3em;
    margin-left:2em;
}



@import "old";
@import "border";
@import "flex";
@import "button";
@import "header";
@import "font";
@import "general";
@import "max";
@import "nav";
@import "padding";
@import "margin";
@import "display";
