/*
  version: 0.0.3
  date:9/19/18

*/

$blue:#277cea;

$grey:#dddddd;
$grey2:#eeeeee;
$grey3:#9da6a8;

$d-grey: #3b3d40;
$d-grey2: #27282a;
$d-grey3: #323336;
$d-grey4: #3b3d40;
$d-grey5: #666d70;


/*****************
  CURRENT
*****************/

.industry-{
  &block{
    width:100%;
    border: 1px solid $d-grey;
    padding-bottom:0.5em;
  }

  &title{
    color:white;
    text-transform:capitalize;
    font-weight:bold;
    background-color:$blue;
    text-align:center;
    padding:0.5em;
    margin-bottom:1em;
    font-size:18px;
  }

  &summary{
    padding:0 1em;
  }
}

/*****************
  OLD
*****************/

.lead-form-wrapper {
    background-color: #3b3d40;
    padding: 32px;
    border-top: 1px solid #3b3d40;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 select
{
    background-color: #fff;
    color: #000;
    width: 90%;
}







/*****************
  TABLE
*****************/

.table thead th{
    background-color:$blue;
    color:white;
    text-transform:capitalize;
    font-size:24px;

}

.table td, .table th{
    text-align:center;
    border-right:1px solid white;
}


.table tr:nth-child(odd){
    background-color:$grey2;
}

// .table tr td:first-of-type{
//     background-color:$grey;
// }

.table tr td.alt-row{
    color:$blue;
    // background-color:$d-grey;

}

.table thead th{

  &.bg-blue{
      background-color:#277cea;
  }

  &.bg-grey{
      background-color:#dddddd;
  }

  &.bg-dark-grey{
      background-color:#3b3d40;
  }

  &.bg-white{
      background-color:white;
  }

}


/*****************
  BACKGROUND
*****************/

.bg-blue{
    background-color:#277cea;
}

.bg-grey{
    background-color:#dddddd;
}

.bg-white{
    background-color:white;
}

.bg-dark-grey{
    background-color:#3b3d40;
}

@import "../nav";

/*****************
  BREAKPOINT
*****************/


@media (max-width:568px){

  .table {

    td, thead th{
        font-size:13px;
    }
  }
}
