/*

Version: 0.0.3
Date: 1/3/19

*/

$blue:#419FF3;
$grey: #545454;
$orange:#E96604;

/*****************
  GENERAL
*****************/

/*****************
  CLASSES
*****************/
.btn{
  &.estate-btn{
    border-radius:0;
    margin-bottom:15px;
    &:hover{
      color:white;
    }
  }

}
/*****************
  HEADER
*****************/

#header-section{

  background:transparentize(white, 0.1);


.main-nav{

  a{
    font-size:15px;
    font-weight:normal;
    &:hover{
      color:$orange;
    }
  }
}

  .logo{
    img{
      max-width:140px;
    }

  }

  &.header-section{

    &-4{
      .logo{
        img{
          max-width:140px;
        }
      }
    }

    .header-left{
      width:84%;
    }

    .header-right{
      width:15%;
    }

  }


}


.sticky_nav.header-section{
    background-color:transparent;
    // background:transparentize(white, 0.5);
    // background-color:red;


}






/*****************
  HOME
*****************/

.estate-{

  &btn{
    color:white;
    background:$orange;
    border-radius:0;
    margin-bottom:15px;

    &:hover,
    &:focus{
      background: transparentize($orange,0.5);
      color:white;
    }
  }

  &categories{

    padding:35px 0;
    // background:$blue;
    // color:white;

    p{
      // font-size:0.9em;
      max-height:93px;
      overflow:hidden;
    }
  }

  &title{
    color:$blue;
    font-size:1.3em;
  }
}

.luxury-{

  &section{
    margin-top:2em;
  }

  &title{
    font-size:1.8em;
    color:$blue;
  }

  &summary{
    font-size:1.3em;
    line-height:30px;
  }
}



/*****************
  CONTENT
*****************/


/*****************
  FOOTER
*****************/

footer#footer-section{

  background:$grey;
  color:white;
  padding:2em 0;
  margin-bottom:-3em;
  a{
    color:white;
  }
}

/*****************
  BREAKPOINT
*****************/

@media(max-width:568px){

  .luxury-{

    &section{
    }

    &title{
      font-size:24px;
    }

    &summary{
      font-size:16px;
    }
  }

}
