/*

Version: 0.0.2
Date: 12/26/18

*/

$l-blue:#419FF3;
$grey: #545454;
$orange:#E96604;

/*****************
  GENERAL
*****************/

/*****************
  HEADER
*****************/

#header-section{

  background:transparentize(white, 0.3);


.main-nav{

  a{
    &:hover{
      color:$orange;
    }
  }
}

  .logo{
    img{
      max-width:140px;
    }

  }

  &-4{
    .logo{
      img{
        max-width:140px;
      }
    }
  }
}


.sticky_nav.header-section{
    background-color:transparent;
    // background:transparentize(white, 0.5);
    // background-color:red;


}


/*****************
  HOME
*****************/


/*****************
  CONTENT
*****************/


/*****************
  FOOTER
*****************/

footer#footer-section{

  background:$grey;
  color:white;
  padding:2em 0;
  margin-bottom:-3em;
  a{
    color:white;
  }
}
